@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');


$outwards-shadow:   6px 6px 10px #cecfd2,
-6px -6px 10px #ffffff;

$outwards-shadow-black:   6px 6px 6px #242424,
             -6px -6px 6px #383838;;

$inwards-shadow: inset 6px 6px 10px #cecfd2,
inset -6px -6px 10px #ffffff;


$inwards-shadow-black: inset 6px 6px 6px #0000008b,
            inset -6px -6px 6px #353535;

$dark-blue: #215288;

$prim-font: 'Nunito Sans', sans-serif;


.black-container{
background: #272727;
width: 35%;
}

.info-beam-container {
height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
gap: 1%;
overflow: auto;
flex-shrink: 0;

.logo-top{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 1em;

    h3{
        color: #f2f3f7;
    }
}

.kpi-beam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1em;
    color: #f2f3f7;

    .kpi {
        box-shadow: $outwards-shadow-black;
        padding: 1.5em;
        margin: 1em 0;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $prim-font;
        border-radius: 24px;
        font-size: 1rem;
        margin: 2em 0;

        p{
        font-size: .8rem;

        }
    }

    .timer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: $inwards-shadow-black;
        width: 95%;
        border-radius: 18px;
        text-align: center;

        p{
           
        }

        .countdown-container{

            display: flex;
            flex-direction: column;
            overflow: hidden;
            justify-content:center;
            align-items: center;
            text-align: center;
            box-shadow: $outwards-shadow-black;
            margin: 2em .5em;
            padding: 1em;
            border-radius: 24px;


            p{
                margin: .3em;
            }
            
            .countdown {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }
    


}

.column-container {
    width: 100%;
}

.info-text{
  margin-bottom: .5em;

}

}




