@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
.black-container {
  background: #272727;
  width: 35%;
}

.info-beam-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1%;
  overflow: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.info-beam-container .logo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1em;
}

.info-beam-container .logo-top h3 {
  color: #f2f3f7;
  font-family: "Nunito Sans", sans-serif;
}

.info-beam-container .kpi-beam-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1em;
  color: #f2f3f7;
}

.info-beam-container .kpi-beam-container .kpi {
  -webkit-box-shadow: 6px 6px 6px #242424, -6px -6px 6px #383838;
          box-shadow: 6px 6px 6px #242424, -6px -6px 6px #383838;
  padding: 1.5em;
  margin: 1em 0;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 24px;
  font-size: 1rem;
  margin: 2em 0;
}

.info-beam-container .kpi-beam-container .kpi p {
  font-size: 1rem;
}

.info-beam-container .kpi-beam-container .timer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 6px 6px 6px #0000008b, inset -6px -6px 6px #353535;
          box-shadow: inset 6px 6px 6px #0000008b, inset -6px -6px 6px #353535;
  width: 95%;
  border-radius: 18px;
  text-align: center;
}

.info-beam-container .kpi-beam-container .timer-container .countdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 6px 6px 6px #242424, -6px -6px 6px #383838;
          box-shadow: 6px 6px 6px #242424, -6px -6px 6px #383838;
  margin: 2em .5em;
  padding: 1em;
  border-radius: 24px;
}

.info-beam-container .kpi-beam-container .timer-container .countdown-container p {
  margin: .3em;
}

.info-beam-container .kpi-beam-container .timer-container .countdown-container .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-beam-container .column-container {
  width: 100%;
}

.info-beam-container .info-text {
  margin-bottom: .5em;
}

@media only screen and (max-width: 390px) {
  .black-container {
    display: none;
  }
}
/*# sourceMappingURL=infobeam.css.map */