@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');


$outwards-shadow:   6px 6px 10px #cecfd2,
-6px -6px 10px #ffffff;

$outwards-shadow-black:   6px 6px 6px #242424,
             -6px -6px 6px #383838;;

$inwards-shadow: inset 6px 6px 10px #cecfd2,
inset -6px -6px 10px #ffffff;


$inwards-shadow-black: inset 6px 6px 6px #0000008b,
            inset -6px -6px 6px #353535;

$dark-blue: #215288;

$prim-font: 'Nunito Sans', sans-serif;



.unit-info-container {
box-shadow: $outwards-shadow;
width: 300px;
border-radius: 74px;
padding: .5em;

p {
    margin: 1.2em;
    font-family: $prim-font;
    color: $dark-blue;
    font-size: 1.2rem;
    font-weight: bold;
}

    
}

@media only screen and (max-width: 390px) {
    .unit-info-container{
       margin-top: 3em;
       margin-left: 2em;
        
    }
    .unit-info-container {
        padding: 1.5em;
        
        p {
            font-size: 1rem;
        }
    
    }
    }