@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');



$outwards-shadow:   6px 6px 10px #cecfd2,
-6px -6px 10px #ffffff;

$inwards-shadow: inset 6px 6px 10px #cecfd2,
inset -6px -6px 10px #ffffff;

$dark-blue: #215288;

$prim-font:  'lato', sans-serif;



.unit-info-container {
box-shadow: $outwards-shadow;
width: 300px;
border-radius: 74px;
padding: .5em;

p {
    margin: 1.2em;
    font-family: $prim-font;
    color: $dark-blue;
    font-size: 1.2rem;
    font-weight: bold;
}

    
}